body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    text-align: center;
    width: 100%; 
}

nav {
    background: #46516e;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #354059;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

h1 {
    color: #003366;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin: 10px 0;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

#plot {
    margin-top: 20px;
}

