body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

nav {
    background: #46516e;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    background-color: #354059;
}

main {
    margin: 20px auto;
    max-width: 90%;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
}

h1, h2 {
    color: #003366;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.warning {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.description {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    width: 100%; 
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

#viewDataButton, #sendDataButton, #insertDataButton {
    width: 100%; 
    margin-bottom: 10px;
}

#data-table-container {
    overflow-x: auto; 
    margin-top: 20px;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#data-table th {
    background-color: #003366;
    color: white;
}

#data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#data-table tr:hover {
    background-color: #ddd;
}
