body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    right: -75px;
}

.auth-section {
    display: flex;
    justify-content: flex-end;
    position: relative; 
    z-index: 2; 
}

.auth-section a,
.auth-section button {
    color: #ffffff;
    background-color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px; 
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.auth-section a:hover,
.auth-section button:hover {
    background-color: #0056b3;
}

nav {
    background: #46516e;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #354059;
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: #003366;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.welcome-message {
    font-weight: bold;
    font-size: 1.2em;
}
