<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/Style/login.css">
</head>
<body>
    <header>
        <h1>Please login into your account</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
    </nav>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm"> <!-- ID-ul formularului trebuie să fie loginForm -->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-input">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="form-button">
            </div>
        </form>
    </div>
    <footer>
        <p>Inflation Predictor</p>
    </footer>
    <script src="/static/Scripts/loginscript.js"></script> <!-- Adaugă link-ul către login.js -->
</body>
</html>
