<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/Style/global.css">
</head>
<body>
    <header>
        Inflation Prediction App
    </header>
    <nav>
        <a href="/">MainPage</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/factors">Macroeconomic Data</a>
        <a href="/predictions">Predictions</a>
        <a href="/models">Model comparison</a>
    </nav>
    <div class="container">
        
    </div>
    <footer>
        Inflation Predictor
    </footer>
</body>
</html>
