<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflation Predictor</title>
    <link rel="stylesheet" href="/static/css/mainpage.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Inflation Predictor</h1>
        </header>
        <main>
            <p>Welcome to the Inflation Predictor, an application designed to help economists and financial analysts forecast inflation trends using advanced machine learning models.</p>
            <p>This tool integrates various economic indicators and datasets to provide a comprehensive and predictive outlook on potential inflationary trends.</p>
        </main>
        <footer>
            <p>Technologies Used: Python, FastAPI, Machine Learning, PostgreSQL</p>
        </footer>
    </div>
</body>
</html>
