<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Main Page</title>
    <link rel="stylesheet" href="/static/Style/mainpage.css">
    <script src="/static/Scripts/mainpage.js" defer></script> <!-- Asigură-te că fișierul JavaScript este încărcat -->
</head>
<body>
    <header>
        <div class="header-title">Inflation Prediction App</div>
        <div class="auth-section">
            <a id="register-button" href="/register">Register</a>
            <a id="login-button" href="/login">Login</a>
            <button id="logout-button" style="display: none;">Logout</button> <!-- Butonul de logout -->
        </div>
    </header>
    <nav>
        <a href="/">MainPage</a>
        <a href="/factors">Macroeconomic Data</a>
        <a href="/predictions">Predictions</a>
        <a href="/models">Model comparison</a>
    </nav>
    <div class="container">
        <h1>Welcome to the Inflation Predictor App</h1>
        <p id="welcome-message" class="welcome-message">Hello, Guest</p> <!-- Aici va fi afișat mesajul de întâmpinare -->
        <p>This application allows users to understand and anticipate changes in their purchasing power based on inflation predictions. Here are some of the ways you can use the Inflation Predictor:</p>
        
        <h2>Personal Financial Planning</h2>
        <p>Users can use the app to make informed decisions about savings, investments, and expenditures based on projected inflation trends.</p>
        
        <h2>Business Consulting</h2>
        <p>Companies can utilize the app to anticipate future costs and plan budgets effectively. For instance, anticipating higher inflation might lead companies to increase their stock levels or negotiate long-term contracts at current prices to mitigate rising costs.</p>
        
        <h2>Economic Analysis and Reporting</h2>
        <p>Economists or analysts can use the app to generate detailed reports on inflation trends, useful for research or publications. This information can be valuable for banks, governments, and financial institutions.</p>
        
        <h2>Education and Training</h2>
        <p>The app serves as an educational tool for students in economics or finance, helping them understand inflation dynamics and how model predictions align with real data and economic theories.</p>
    </div>
    <footer>
        Inflation Predictor
    </footer>
</body>
</html>
