<!DOCTYPE html>
<html lang="en">   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/Style/register.css">
</head>
<body>
    <header>
        <h1>Please register your account</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </nav>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required class="form-input">
                <small style="display: block; margin-top: 5px; color: #d35400; font-weight: bold; font-size: 14px; text-align: left;">Password must contain at least one uppercase letter, one symbol, one number and must have at least 8 characters.</small>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required class="form-input">
            </div>
            <button type="submit" class="form-button">Register</button>
        </form>
    </div>
    <footer>
        <p>Inflation Predictor</p>
    </footer>
</body>
</html>
